<h1> Add Product </h1>

<div class="container">
    <div class="col-md-8">
        <form action="" [formGroup]="addProductForm" (ngSubmit)="addProduct()">
            <div class="mb-3">
                <label for="title" class="form-label">title</label>
                <input type="text" class="form-control" id="title" placeholder="product title" formControlName="title">
              </div>
        
              <div class="mb-3">
                <label for="category" class="form-label">category</label>
                <input type="text" class="form-control" id="titlle" placeholder="product category" formControlName="category">
              </div>
        
              <div class="mb-3">
                <label for="price" class="form-label">price</label>
                <input type="text" class="form-control" id="price" placeholder="product category" formControlName="price">
              </div>
        
              <div class="mb-3">
                <label for="image" class="form-label">image Url</label>
                <input type="text" class="form-control" id="image" placeholder="product image" formControlName="image">
              </div>
        
              <div class="mb-3">
                <label for="desc" class="form-label">description</label>
                <textarea class="form-control" id="desc" rows="3" formControlName="description"></textarea>
              </div>

              <button type="button" class="btn btn-primary" (click)="addProduct()"> add product </button>
        </form>
    </div>
</div>